---
// Import Navbar component and styles
import Navbar from '../components/Navbar.astro';
import '../styles.css';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects | KunjML</title>
  <link rel="icon" href="../assets/brain-logo.svg" type="image/svg+xml"/>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="dark:bg-800 dark:text-white">
  <Navbar />
  <main class="container mx-auto px-4 sm:px-6 lg:px-8 mt-10">
    <h1 class="text-3xl font-bold mb-10 text-center">Projects</h1>
    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-6">Web Scraping</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <div class="bg-white dark:bg-gray-700 p-3 rounded-lg shadow-lg border border-gray-300 border-solid">
          <img src="../project-img/Asu-Search-Main.png" alt="ASU Class Search Main Image" class="rounded-t-lg w-full">
          <h2 class="text-xl font-semibold mb-2">ASU Class Scraper</h2>
          <div class="flex justify-between items-center">
            <a href="https://github.com/KunjVPatel/ASU-Class-Searcher" class="text-blue-600 hover:underline" target="_blank" rel="noopener noreferrer">Code</a>
            <a href="blogs/Class_Scraper" class="text-blue-600 hover:underline">Read Article</a>
          </div>
        </div>

        <div class="bg-white dark:bg-gray-700 p-3 rounded-lg shadow-lg border border-gray-300 border-solid">
          <img src="../project-img/Data_Finder.jpg" alt="990 Data Finder Main Image" class="rounded-t-lg w-full">
          <h2 class="text-xl font-semibold mb-2">990 Data Finder</h2>
          <div class="flex justify-between items-center">
            <a href="https://github.com/KunjVPatel/990-Data-Finder" class="text-blue-600 hover:underline" target="_blank" rel="noopener noreferrer">Code</a>
            <a href="blogs/IRS_990_Data_Finder" class="text-blue-600 hover:underline">Read Article</a>
          </div>
        </div>

      </div>
    </section>
  </main>
</body>
</html>
