---
import Section from './Section.astro';

---

<style>
    .center-text {
        text-align: center;
    }

    .intro-text {
        font-size: 1rem;
    }
</style>


<Section>
	<br />
	<p class="pb-2 pt-6 center-text text-4xl font-bold">Welcome to Kunj's Portfolio</p>
	<div class="text-sm intro-text">
        <br>
		<p class="py-2">
            Hi, I'm Kunj Patel, a Data Science Undergrad at Arizona State University. I specialize in the application of Machine Learning and am actively engaged in related projects.
		</p>
		<p class="py-2">
            At ASU, I'm involved in clubs focused on Data Science and Machine Learning. This site is mainly to share my work in this field.
		</p>
	</div>
</Section>